table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #7d77c56b
}

th {
    background-color: #6a4caf;
    color: rgba(27, 86, 173, 0.199);
}
