table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #24be10
}

th {
    background-color: #6a4caf;
    color: white;
}
